  body {
    background-image: url('https://wallpapercave.com/wp/wp5883717.jpg');
    color: black;
  }
  #image {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #title {
    text-align: center;
    font-family: Verdana;
    font-size: 270%;
  }
  #img-caption {
    text-align: center;
    font-size: 102%;
  }  
  #tribute-info {
    font-family: Verdana;
    font-size: 82%;
    text-align: justify;
    margin-left: 8px;
    margin-right: 8px;
  }
  #meta {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  #facebook {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  #messenger {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  #instagram {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
  }
  #whatsapp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
  }
  #oculus {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
  }
  * {
    box-sizing: border-box;
  }
  .column {
    float: left;
    width: 20%;
    padding: 5px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  #companies {
    color: black;
    font-family: Verdana;
    font-size: 200%;
    margin-left: 6px;
  }
  #facts {
    color: black;
    font-family: Verdana;
    font-size: 180%;
    margin-left: 6px;
  }
  #getTo {
    color: black;
    font-family: Verdana;
    font-size: 120%;
    margin-left: 9px;
  }
  #tenfacts {
    color: black;
    font-family: Verdana;
    font-size: 100%;
    margin-left: 6px;
    margin-right: 12px;
    text-align: justify;
  }